<nav>
  <ul>
    <li></li>
  </ul>
</nav>
<div class="content">
  <h1 class="title">Angular Netlify Identity Demo</h1>
  <iframe
    src="https://giphy.com/embed/IbHargNoRiQvmnGyj7"
    width="300px"
    height="250px"
    frameBorder="0"
  ></iframe>
  <div class="text">
    <p>
      Welcome to the Angular Netlify Identity Demo, glad to have you here! You
      can find the
      <a href="https://github.com/tzmanics/angular-netlify-identity-demo"
        >repo for this project here!</a
      >
    </p>
    <p>
      (つ・▽・)つ⊂(・▽・⊂)
    </p>

    <p>
      You can learn more about
      <a
        href="https://docs.netlify.com/visitor-access/identity/?utm_source=blog&utm_medium=angular-identity-tzm&utm_campaign=devex"
        >Netlify Identity</a
      >
      and Angular in
      <a
        href="https://www.netlify.app/blog/2020/07/02/authenticating-users-with-angular-and-netlify-identity/?utm_source=blog&utm_medium=angular-identity-tzm&utm_campaign=devex"
        >this blog post</a
      >
      ヽ(´∇｀)ﾉ
    </p>
  </div>
</div>
<router-outlet></router-outlet>
